.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #00c08b;
  height: 78px;
  // position: sticky;
  top: 0;
  // z-index: 10;

  .header_right-side {
    padding-right: 100px;
  }

  .header_left-side {
    padding-left: 100px;
  }

  .header_left-side,
  .header_right-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    .header_right-side_button-notification {
      height: 35px;
      width: 35px;
      border: none;
      background-color: #00c08b;
      margin-right: 10px;

      .header_right-side_img {
        content: url('/notifications.png');
        position: relative;
        top: -5px;
        right: 10px;
      }
    }

    .header_right-side_profile_block {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-content: center;

      .header_right-side_profile-img {
        position: relative;
        top: 8px;
        right: 5px;
        height: 40px;
        width: 40px;
        border-radius: 50px;
      }

      .header_right-side_profile-name {
      }
    }
  }
}
