<aside class="navigation-bar">
    <section class="navigation-bar_profile">
        <img src="" class="navigation-bar_profile_img">
        <h3 class="navigation-bar_profile_text">Profile</h3>
    </section>

    <section class="navigation-bar_news">
        <img src="" class="navigation-bar_news_img">
        <h3 class="navigation-bar_news_text">News</h3>
    </section>

    <section class="navigation-bar_hierarchy">
        <img src="" class="navigation-bar_hierarchy_img">
        <h3 class="navigation-bar_hierarchy_text">Hierarchy</h3>
    </section>

    <section class="navigation-bar_group">
        <img src="" class="navigation-bar_group_img">
        <h3 class="navigation-bar_group_text">Group</h3>
    </section>

    <section class="navigation-bar_shop">
        <img src="" class="navigation-bar_shop_img">
        <h3 class="navigation-bar_shop_text">Shop</h3>
    </section>
</aside>
