<header class="header">
    <section class="header_left-side">
        <!-- <img src="" class="header_logo"> -->
         <h1>Лого</h1>
    </section>

    <section class="header_right-side">
        <button class="header_right-side_button-notification"><img class="header_right-side_img"></button>

        <section class="header_right-side_profile">
            <section class="header_right-side_profile_block">
                <img src="" class="header_right-side_profile-img">
                @if(userData$ | async; as userData){
                    <h3 class="header_right-side_profile-name">
                        {{userData.fullName}}
                    </h3>
                }
            </section>
        </section>
    </section>
</header>