<header class="header">
    <section class="header_left-side">
        <!-- <img src="" class="header_logo"> -->
         <h1>Лого</h1>
    </section>

    <section class="header_right-side">
        <img src="" class="header_right-side_img">

        <section class="header_right-side_profile">
            <a routerLink="/profile" class="header_right-side_profile-link">
                <img src="" class="header_right-side_profile-img">
                <h3 class="header_right-side_profile-name">Имя Фамилия</h3>
            </a>
        </section>
    </section>

</header>
