.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #00C08B;
    height: 78px;
    position: sticky;
    top: 0;

    .header_right-side {
        padding-right: 100px;
    }

    .header_left-side {
        padding-left: 100px;
    }

    .header_left-side, .header_right-side {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;

        .header_right-side_button-notification {
            height: 35px;
            width: 35px;
            border: none;
            background-color: #00C08B;
            margin-right: 10px;
            
            .header_right-side_img {
                content: url("../../../assets/notifications.png");
                position: relative;
                top: -5px;
                right: 10px;
            }
        }

        .header_right-side_profile_block {
            display: flex;
            flex-direction: row;
            text-align: center;
            align-content: center;
        }
    }
}