@if(userData$ | async; as userData){
<div class="profile-card">
    
        <!-- Левая часть: аватар -->
    <div class="avatar-container">
        <img class="avatar" [src]="userData.photoUrl">
        <div class="status-indicator"></div>
    </div>

    <!-- Правая часть: информация о пользователе -->
    <div class="user-info">
        <div class="user-details">
            <h2>{{userData.fullName}}</h2>
            <span class="office-status">{{userData.workStatus}}</span>
        </div>
        <div class="user-flags">
            <span class="flag red">{{userData.onlineStatus}}</span>
        </div>
        <div class="user-meta">
            <div class="meta-item">
                <span class="label">Грейд</span>
                <span class="value">{{userData.employmentStatus}}</span>
            </div>
            <div class="meta-item">
                <span class="label">Должность</span>
                <span class="value">{{userData.position}}</span>
            </div>
            <div class="meta-item">
                <span class="label">Отдел</span>
                <span class="value">{{userData.subdivisionName}}</span>
            </div>
            <div class="meta-item">
                <span class="label">Подразделение</span>
                <span class="value">{{userData.subdivisionName}}</span>
            </div>
        </div>
        <button class="more-button">
            <i class="icon-info"></i>
            Подробнее
        </button>
        <button class="thank-button">
            Отправить благодарность
        </button>
    </div>
</div>

<!-- Контакты -->
<div class="contacts">
    <h3>Контакты</h3>
    <ul>
        <li>
            <span class="contact-label">Mattermost</span>
            <span class="contact-value">{{userData.mattermost}}</span>
        </li>
        <li>
            <span class="contact-label">Telegram</span>
            <span class="contact-value">{{userData.telegram}}</span>
        </li>
        <li>
            <span class="contact-label">Почта</span>
            <span class="contact-value">{{userData.email}}</span>
        </li>
    </ul>
</div>

<!-- Участие в проектах -->
<div class="projects">
    <h3>Участие в проектах</h3>
    <div class="project-list">
        <!-- @for(project of userData.projectNames; track name){} -->
        <span class="project">{{userData.projectNames}}</span>
    </div>
</div>
}