@if(userData$ | async; as userData){

    <section class="profile-card">
        <section class="profile-card_top">
            <section class="profile-card_photo">
                @if(userData.photoUrl !== ""){
                    <img class="profile-card_img" [src]="userData.photoUrl">
                    <div class="profile-card_status"></div>
                }
                @else {
                    <div class="profile-card_gray"></div>
                }
            </section>

            <section class="profile-card_main-information">
                <h1 class="profile-card_main-information_FIO">{{userData.fullName}}</h1>
                <span class="profile-card_main-information_quetions-need">{{userData.statusState}}</span>

                <section class="profile-card_top_center">
                    <section class="profile-card_top_left">
                        <section class="span">
                            <span class="dtouched">Грейд</span>
                            <span class="touched">{{userData.employmentStatus}}</span>
                        </section>
                        <section class="span">
                            <span class="dtouched">Отдел</span>
                            <span class="touched">{{userData.subdivisionName}}</span>
                        </section>
                    </section>
                    <section class="profile-card_top_right">
                        <section class="span">
                            <span class="dtouched">Должность</span>
                            <span class="touched">{{userData.position}}</span>
                        </section>
                        <section class="span">
                            <span class="dtouched">Подразделение</span>
                            <span class="touched">{{userData.subdivisionName}}</span>
                        </section>
                    </section>
                </section>

                <section class="profile-card_top_sub-information">
                    <section class="profile-card_top_section">
                        <img class="img_detali">
                        <button class="profile-card_top_detali">Подробнее</button>
                    </section>
                    <button class="profile-card_top_send-loyalty">Отправить благодарность</button>
                </section>
            </section>
        </section>

        <section class="profile-card_bottom">
            <section class="profile-card_contact">
                <h1 class="profile-card_contact_text contact">Контакты</h1>
                <section class="section">
                    <p class="name">Mattermost</p>
                    <p>{{userData.mattermost}}</p>
                </section>
                <section class="section">
                    <p class="name">Telegram</p>
                    <p>{{userData.telegram}}</p>
                </section>
                <section class="section">
                    <p class="name">Почта</p>
                    <p>{{userData.email}}</p>
                </section>    
            </section>

            <section class="profile-card_projects">
                <h1 class="profile-card_projects_text projects">Участие в проектах</h1>
                <p>{{userData.projectNames}}</p>
            </section>
        </section>
    </section>
}