@if(userData$ | async; as userData){
    <section class="card-post">
        <div class="post-card">
            <header class="post-header">
                <div class="user-info">
                    <img [src]="userData.photoUrl" alt="Аватар пользователя" class="avatar">
                    <div class="user-details">
                        <h3 class="username">{{userData.fullName}}</h3>
                        <p class="position">{{userData.position}}</p>
                    </div>
                </div>
            </header>
            <main class="post-body">
                <p class="post-text">
                    Body text for your whole article or post. We'll put in some lorem ipsum to show how a filled-out page might look:
                </p>
                <p class="post-text">
                    Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui international first-class nulla ut. Punctual adipiscing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe.
                </p>
            </main>
            <footer class="post-footer">
                <div class="image-placeholder">
                    <img src="https://via.placeholder.com/300x200 " alt="Изображение поста">
                </div>
            </footer>
        </div>
        <div class="line"></div>
    </section>
}