.profile {
  display: grid;
  grid-template-columns: 0.3fr 0.6fr;
  margin-top: 30px;

  .block-main {
    max-width: 912px;

    .profile-card {
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 15px;
      background-color: white;
      margin-bottom: 10px;

      .profile-card_top {
        display: flex;
        justify-content: start;
        flex-direction: row;

        .profile-card_img-container {
          img {
            height: 336px;
            width: 336px;
            border-radius: 15px;
          }
          div {
            position: relative;
            left: 290px;
            bottom: 50px;
            height: 30px;
            width: 30px;
            background-color: #00cf37;
            border-radius: 100px;
          }
        }

        .profile-card_information {
          display: flex;
          flex-direction: column;
          margin-left: 2vw;

          .profile-card_header {
            display: flex;
            flex-direction: row;
            align-items: center;

            .profile-card_fio {
            }

            .profile-card_locate {
              height: 100%;
              width: 100%;
              max-width: 80px;
              max-height: 22px;
              margin-left: 10px;
              background-color: #52c41a;
              border-radius: 4px 4px 0px 4px;
              align-content: center;
              text-align: center;
              color: white;
            }
          }

          .profile-card_help {
            display: flex;
            flex-direction: row;
            align-content: center;

            .profile-card_help-status {
              position: relative;
              left: 0px;
              bottom: 0px;
              border-radius: 50px;
              height: 20px;
              width: 20px;
              background-color: #f83636;
            }

            .profile-card_help-text {
              margin-left: 10px;
            }
          }

          .profile-card_employee-info {
            margin-top: 10px;

            .profile-card_job-details-container,
            .profile-card_employee-profile-summary-container {
              display: grid;
              grid-template-columns: 0.8fr 1fr;

              .profile-card_job-details,
              .profile-card_org-structure,
              .profile-card_employee-profile-summary,
              .profile-card_position-and-department {
                display: flex;
                flex-direction: column;
                text-align: start;
                margin-top: 20px;
                gap: 4px;
              }
            }
          }

          .profile-card_more-details {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            width: 140px;
            background-color: white;
            border: none;
            margin-top: 30px;

            .profile-card_more-details-img {
              height: 28px;
            }
          }

          .profile-card_gratitude {
            border: none;
            border-radius: 30px;
            background-color: #712181;
            margin-top: 30px;
            max-width: 260px;
            height: 100%;
            max-height: 35px;
            font-size: 18px;
            color: white;
          }
        }
      }

      .profile-card_bottom {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;

        .profile-card_contacts {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .profile-card_contact-item {
            display: grid;
            grid-template-columns: 0.3fr 1fr;
          }
        }

        .profile-card_projects {
          .profile-card_block {
            display: flex;
            flex-direction: row;

            .profile-card_block_projects-background {
              border: 1px solid #adc6ff;
              border-radius: 4px;
              background-color: #e6f4ff;
              padding: 2px 5px;
              text-align: center;
              align-content: center;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
