<app-header></app-header>

<main class="profile">
    <section class="profile_navigation-bar">
        <app-navigation-bar></app-navigation-bar>
    </section>

    <section class="profile_main">
        <section class="profile_card">
            <app-profile-card></app-profile-card>
        </section>

        <section class="profile_posts">
            <app-header-news></app-header-news>
            <app-card-post></app-card-post>
            <app-card-post></app-card-post>
        </section>
    </section>
</main>