<section class="filter">
  <section class="filter_news">
    <label class="filter-item">
      <input type="radio" name="filter" value="all-news" />
      <span class="radio-button"></span>
      Все новости
    </label>

    <label class="filter-item">
      <input type="radio" name="filter" value="my-news" />
      <span class="radio-button"></span>
      Мои новости
    </label>

    <label class="filter-item">
      <input type="radio" name="filter" value="company-news" checked />
      <span class="radio-button"></span>
      Новости компании
    </label>
  </section>

  <section class="filter_history">
    <label class="filter-item">
      <input type="radio" name="filter_time" value="new-first" />
      <span class="radio-button"></span>
      Сначала новые
    </label>

    <label class="filter-item">
      <input type="radio" name="filter_time" value="old-first" checked />
      <span class="radio-button"></span>
      Сначала старые
    </label>
  </section>
</section>
