.matrix-competency {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 0fr 1fr;
  gap: 50px;

  .matrix-competency_block {
    max-width: 1032px;
    display: flex;
    flex-direction: column;

    .matrix-competency_header {
      min-height: 122px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;
      background-color: white;
      border-radius: 8px;
      margin-bottom: 20px;

      .header_left-side {
        display: flex;
        flex-direction: row;

        .left-side_title {
          margin-right: 20px;
        }

        .left-side_information {
          display: flex;
          flex-direction: column;
          justify-content: end;
          margin-bottom: 20px;

          p {
            margin: 0;
            color: #00c08b;
          }
        }
      }

      .header_right-side {
        display: flex;
        justify-content: center;
        flex-direction: column;

        button {
          border-radius: 30px;
          border: 2px #712181 solid;
          min-width: 215px;
          min-height: 35px;
        }

        .header_add-button {
          margin-bottom: 10px;
          color: white;
          background-color: #712181;
        }

        .header_up-button {
          background-color: white;
          color: #712181;
        }
      }
    }
  }
}
