<app-header></app-header>

<main class="news-feed">
    <section class="news-feed_navigation-bar">
        <app-navigation-bar></app-navigation-bar>
    </section>

    <section class="news-feed_cards">
        <app-create-card></app-create-card>
        <app-header-news></app-header-news>
        <app-card-post class="news-feed_cards_post"></app-card-post>
        <app-card-post class="news-feed_cards_post"></app-card-post>
    </section>

    <section class="news-feed_filters">
        <app-filter-news></app-filter-news>
    </section>
</main>
