.news-feed {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.22fr;
  flex-direction: row;

  .news-feed_navigation-bar {
    margin-top: 30px;
  }

  .news-feed_cards {
    margin-top: 30px;
    max-width: 914px;
  }

  .news-feed_filters {
    margin-top: 30px;
  }
}

.modal_create_news {
  display: none;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 25%;
  left: 31.5%;
}
