.news-feed{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .news-feed_cards {
        margin-top: 20px;
    }

    .news-feed_filters {
        margin-top: 20px;
    }
}

.modal_create_news {
    display: none;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 25%;
    left: 31.5%;
}