.news-feed{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .news-feed_cards {
        margin-top: 20px;
    }

    .news-feed_filters {
        margin-top: 20px;
    }
}