<section class="comment">
  <!-- @if(){} -->
  <header class="comment_header">
    <section class="header_img">
      <!-- <img src="" (error)="96bb90f1e69724b62ed1e99abf10912b.jpg" /> -->
      <div class="header_status"></div>
    </section>
    <section class="header_profile">
      <p class="header_fio">ФИО</p>
      <p class="hedaer_major">Должность</p>
    </section>
  </header>
  <main class="profile_content">
    <span>Тело комментария</span>
  </main>
  <footer class="profile_footer">
    <span class="footer_time">time</span>
    <button footer_answer>Ответить</button>
  </footer>
  <!-- @else{} -->
</section>
