<aside class="navigation-bar">
  <section class="navigation-bar_profile">
    <a routerLink="/profile">
      <img class="navigation-bar_profile_img" />
      <div>
        <h3 class="navigation-bar_profile_text">Профиль</h3>
        <div class="profile_line"></div>
      </div>
    </a>
  </section>

  <section class="navigation-bar_news">
    <a routerLink="/news-feed">
      <img class="navigation-bar_news_img" />
      <div>
        <h3 class="navigation-bar_news_text">Новости</h3>
        <div class="profile_news_line"></div>
      </div>
    </a>
  </section>

  <section class="navigation-bar_group">
    <a href="">
      <img class="navigation-bar_group_img" />
      <div>
        <h3 class="navigation-bar_group_text">Сообщества</h3>
        <div class="profile_group_line"></div>
      </div>
    </a>
  </section>

  <section class="navigation-bar_hierarchy">
    <a href="">
      <img class="navigation-bar_hierarchy_img" />
      <div>
        <h3 class="navigation-bar_hierarchy_text">Список сотрудников</h3>
        <div class="profile_hierarchy_line"></div>
      </div>
    </a>
  </section>

  <section class="navigation-bar_matric">
    <a href="">
      <img class="navigation-bar_matric_img" />
      <div>
        <h3 class="navigation-bar_matric_text">Матрица компетенций</h3>
        <div class="profile_matric_line"></div>
      </div>
    </a>
  </section>
</aside>
