<main class="list-competency">
  <section class="list-competency_header">
    <section class="header_folders">
      <button>Подтвержденные навыки</button>
      <div class="header_not-improved">
        <button>Неподтвержденные навыки</button>
        <div class="not-improved_notification">1</div>
      </div>

      <button>Радарная диаграмма</button>
    </section>

    <button class="list-competency_filter">
      <img src="" class="filter_img" />
    </button>
  </section>

  <table class="list-competency_table">
    <tr class="table_header">
      <td>НАВЫК</td>
      <td>ТИП</td>
      <td>УРОВЕНЬ</td>
      <td>СТАТУС</td>
      <td>МЕТОД</td>
      <td>ДАТА РОЖДЕНИЯ</td>
    </tr>
    <!-- @for(){ -->
    <tr class="table_information">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- } -->
  </table>
</main>
