.block-types {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  border-radius: 10px;
  min-width: 199px;
  min-height: 147px;
  max-height: 147px;
  margin-right: 30px;
  padding: 0;

  .block-types_text {
    border-bottom: 1px solid black;
    margin: 0;
    text-align: center;
    align-content: center;
    padding: 10px 0px;
    width: 100%;
    min-height: 32px;
  }

  .block-types_labels {
    text-align: none;
    align-content: none;
    margin: 0px 0px;
    padding: 0;

    .block-types_label {
      display: flex;
      flex-direction: row;
      margin: 15px 0px 15px 10px;
      gap: 4px;

      .block-types_label_input {
        width: 25px;
        height: 25px;
        margin-right: 5px;
      }

      .block-types_label_text {
        align-content: center;
      }
    }
  }
}
