<section class="block-types">
  <h3 class="block-types_text">Тип сообщества</h3>
  <div class="block-types_labels">
    <label class="block-types_label">
      <input class="block-types_label_input" type="radio" name="type-community" />
      <span class="block-types_label_text">Открыто</span>
    </label>
    <label class="block-types_label">
      <input class="block-types_label_input" type="radio" name="type-community" />
      <span class="block-types_label_text">Закрытое</span>
    </label>
  </div>
</section>
