<section class="authorization">
    <div class="background"></div>
    <div class="container">
        <div class="form-container">
            <h2>ЛОГО</h2>
            <h3>Авторизация</h3>
            <form action="#" method="post" [formGroup]="dataUser">
                <label for="login">Логин</label>
                <input type="text" id="login" placeholder="Введите логин..." required formControlName="login">

                <label for="password">Пароль</label>
                <input type="password" id="password" placeholder="Введите пароль..." required formControlName="password">
                
                <section class="button_section">
                        <button type="submit" class="submit-btn" (click)="checkForm()">Войти</button>
                </section>
            </form>
        </div>
    </div>
</section >