.create-post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  border: none;
  max-height: 65px;

  .create-post_content {
    display: flex;
    justify-content: center;
    flex-direction: row;

    .text {
      font-size: 20px;
    }
  }
}
