.header-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  height: 50px;

  .header-news_content {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    height: 100%;
    align-items: center;

    .text {
      font-size: 20px;
    }

    .header-news_search {
      display: flex;
      flex-direction: row;

      .header-news_input {
        min-width: 461px;
        border-radius: 15px;
        border: 1px solid #d5d5d5;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .line {
    border: #d5d5d5 solid 1px;
  }
}
