<section class="header-news">
  <section class="header-news_content">
    <h1 class="header-news_content_text text">Посты</h1>
    <section class="header-news_search">
      @if(stateSearch === true){
      <input type="text" class="header-news_input" />
      } @else{}
      <img src="Search.png" (click)="searchModule()" />
    </section>
  </section>
  <div class="line"></div>
</section>
@if(posts$() | async; as posts){ @for(post of posts; track post.id){
<app-news-card [post]="post"></app-news-card>
<app-comments [communityId]="post.id"></app-comments>
} }
