.create-post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
    border: none;

    .create-post_content {
        display: flex;
        justify-content: center;
        flex-direction: row;

        .text {
            font-size: 20px;
        }
    }
}