/* Общие стили */
.card-post {
  background-color: white;
  font-family: Arial, sans-serif;
  max-width: 912px;
  max-height: auto;
  padding: 20px;

  .card-post_content {
    padding: 20px 20px 0px 20px;
    margin: 0 auto;

    .card-post_header {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;

      .card-post_user {
        display: flex;
        flex-direction: row;

        .card-post_avatar {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          object-fit: cover;
        }

        .card-post_user-info {
          display: flex;
          flex-direction: column;
          align-content: center;
          margin-left: 10px;
          margin-top: 10px;
          align-content: center;

          .card-post_username {
            margin: 0;
          }

          .card-post_position {
            font-size: 12px;
            color: #777;
            margin: 0;
          }
        }
      }
    }

    .card-post_body {
      margin-bottom: 20px;

      .card-post_text {
        font-size: 14px;
        line-height: 1.6;
        color: #333;
      }
    }

    .card-post_footer {
      display: flex;
      justify-content: center;

      .card-post_image-placeholder {
        width: 100%;
        background-color: #e0e0e0;
        border-radius: 5px;
        overflow: hidden;
      }
    }
  }

  .card-post_actions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    margin: 10px 30px;

    .card-post_action-buttons {
      display: flex;
      flex-direction: row;

      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        border: none;

        span {
          align-content: center;
        }
      }
    }

    .card-post_date {
      align-content: center;

      span {
        margin-left: 10px;
      }
    }
  }
}

.card-post_divider {
  border: #d5d5d5 solid 1px;
}
