<section class="card-post">
  <div class="card-post_content">
    <header class="card-post_header">
      <div class="card-post_user">
        <img src="96bb90f1e69724b62ed1e99abf10912b.jpg" class="card-post_avatar" />
        <div class="card-post_user-info">
          <p class="card-post_username">{{ post().employeeFullName }}</p>
          <p class="card-post_position">Должность</p>
        </div>
      </div>
    </header>
    <main class="card-post_body">
      <p class="card-post_text">{{ post().content }}</p>
    </main>
    <footer class="card-post_footer">
      <div class="card-post_image">
        <img [src]="post().mediaUrl" (error)="post().mediaUrl = '/Image.png'" />
      </div>
    </footer>
  </div>

  <div class="card-post_actions">
    <div class="card-post_action-buttons">
      <button (click)="setLike()" class="card-post_action-button">
        @if(post().liked === false){
        <img src="/favorite.png" />
        } @else{
        <img src="/favorite.png" />
        }
        <span>{{ post().likesCount }}</span>
      </button>
      <button class="card-post_action-button">
        <img src="/chat_bubble.png" />
        <span>10</span>
      </button>
    </div>
    <div class="card-post_date">
      <span>{{ date }}</span>
      <span>{{ time }}</span>
    </div>
  </div>

  <div class="card-post_divider"></div>
</section>
