<!-- @if(userData$ | async; as userData){ -->
<section class="card-post">
  <div class="post-card">
    <header class="post-header">
      <div class="user-info">
        <img src="96bb90f1e69724b62ed1e99abf10912b.jpg" class="avatar" />
        <!-- <img [src]="userData.photoUrl" class="avatar" /> -->
        <div class="user-details">
          <p class="username">Фамилия Имя Отчество</p>
          <p class="position">Должность</p>
          <!-- <h3 class="username">{{ userData.fullName }}</h3> -->
          <!-- <p class="position">{{ userData.position }}</p> -->
        </div>
      </div>
    </header>
    <main class="post-body">
      <p class="post-text">
        Body text for your whole article or post. We'll put in some lorem ipsum to show how a
        filled-out page might look:
      </p>
      <p class="post-text">
        Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation
        exquisite perfect nostrud nisi intricate Content. Qui international first-class nulla ut.
        Punctual adipiscing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming
        Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat
        discerning. Qui wardrobe.
      </p>
    </main>
    <footer class="post-footer">
      <div class="image-placeholder">
        <img src="Image.png" />
      </div>
    </footer>
  </div>
  <div class="line"></div>
</section>
<!-- } -->
