/* Общие стили */
.card-post {
  background-color: white;
  font-family: Arial, sans-serif;
  max-width: 912px;
  max-height: 854px;
  padding: 20px;

  .post-card {
    padding: 20px;
    margin: 0 auto;

    .post-header {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;

      .user-info {
        display: flex;
        flex-direction: row;

        .avatar {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          object-fit: cover;
        }

        .user-details {
          display: flex;
          flex-direction: column;
          align-content: center;
          margin-left: 10px;
          margin-top: 10px;
          align-content: center;

          .username {
            margin: 0;
          }

          .position {
            font-size: 12px;
            color: #777;
            margin: 0;
          }
        }
      }
    }

    .post-body {
      margin-bottom: 20px;

      .post-text {
        font-size: 14px;
        line-height: 1.6;
        color: #333;
      }
    }

    .post-footer {
      display: flex;
      justify-content: center;

      .image-placeholder {
        width: 100%;
        background-color: #e0e0e0;
        border-radius: 5px;
        overflow: hidden;
      }
    }
  }
}

.line {
  border: #d5d5d5 solid 1px;
}
