<section class="sort">
  <section class="sort_news" [formGroup]="filterOption" (change)="filterListNews()">
    <label class="sort-item">
      <input type="radio" name="currentNews" value="all" formControlName="currentNews" />
      <span class="radio-button"></span>
      Все новости
    </label>

    <label class="sort-item">
      <input type="radio" name="currentNews" value="my" formControlName="currentNews" />
      <span class="radio-button"></span>
      Мои новости
    </label>

    <label class="sort-item">
      <input type="radio" name="currentNews" value="company" formControlName="currentNews" />
      <span class="radio-button"></span>
      Новости компании
    </label>
  </section>

  <section class="sort_history" [formGroup]="sortOption" (change)="sortListNews()">
    <label class="sort-item">
      <input type="radio" name="timeNews" value="new" formControlName="timeNews" />
      <span class="radio-button"></span>
      Сначала новые
    </label>

    <label class="sort-item">
      <input type="radio" name="timeNews" value="old" formControlName="timeNews" />
      <span class="radio-button"></span>
      Сначала старые
    </label>
  </section>
</section>
