<section class="sort">
  <section class="sort_news">
    <label class="sort-item">
      <input type="radio" name="sort" value="all-news" />
      <span class="radio-button"></span>
      Все новости
    </label>

    <label class="sort-item">
      <input type="radio" name="sort" value="my-news" />
      <span class="radio-button"></span>
      Мои новости
    </label>

    <label class="sort-item">
      <input type="radio" name="sort" value="company-news" checked />
      <span class="radio-button"></span>
      Новости компании
    </label>
  </section>

  <section class="sort_history">
    <label class="sort-item">
      <input type="radio" name="sort_time" value="new-first" />
      <span class="radio-button"></span>
      Сначала новые
    </label>

    <label class="sort-item">
      <input type="radio" name="sort_time" value="old-first" checked />
      <span class="radio-button"></span>
      Сначала старые
    </label>
  </section>
</section>
